{% extends 'agritech/base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="card col-md-4 mx-auto shadow-lg border border-success">
    <div class="card-body">
    	{% if request.user.buyer == 1 %}
      <h5 align="center">Consumer update form</h5>
      {% else %}
      <h5 align="center">Farmer update form</h5>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
      	{% csrf_token %}
      	{% for i in form %}
      	{{i}}
      	{% endfor %}
        <div class="row">
          <div class="col">
            <input type="submit" value="update" class="btn btn-success form-control">
          </div>
          <div class="col">
            <input type="reset" value="clear" class="btn btn-warning form-control">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}